### IDE и редакторы ###
# JetBrains IDE
.idea/
*.iws
*.iml
*.ipr

# husky
.husky/*
!.husky/_
!.husky/*.sh

# VS Code
.vscode/
!.vscode/settings.json  # Можно добавить общие настройки команды
!.vscode/extensions.json

# Другие редакторы
*.swp
*.swo
*~

### Зависимости ###
/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-store/

### Тестирование ###
/coverage
*.lcov
/junit.xml
/test-results/

### Next.js ###
/.next/
/out/
.next/cache/

### Сборки ###
/build
/dist
/server/

### Системные файлы ###
.DS_Store
*.pem
Thumbs.db
desktop.ini

### Логи ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

### Файлы окружения ###
.env*
!.env.example  # Исключение для шаблона env-файла

### Деплой ###
.vercel/
.netlify
.serverless/

### TypeScript ###
*.tsbuildinfo
next-env.d.ts

### Оптимизация/Кэш ###
.cache/
.turbo/
*storybook.log
storybook-static
stories/**
!stories/
!stories/**/*.stories.tsx