{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": true,
        "bracketSpacing": true,
        "printWidth": 999
      }
    }
  ]
}
