.overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 60%);
  animation: fadeIn 0.2s ease-in;
}

.content {
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: 0 24px;
  top: 50%;
  left: 50%;
  max-height: 90vh;
  overflow: visible;
  background: var(--color-dark-300);
  border: 1px solid var(--color-dark-100);
  transform: translate(-50%, -50%);
  animation: scaleIn 0.2s ease-in;
}

.title {
  color: var(--color-light-100);
  line-height: 1.2;
}

.closeButtonInside {
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.95);
  }
}

.closeButtonOutside {
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.2);
  }
}

.closeIcon {
  width: 24px;
  height: 24px;
  display: block;
}

.sm {
  width: 378px;
}

.md {
  width: 492px;
}

.lg {
  width: 644px;
}

.xl {
  width: 972px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.headerDefault {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  position: relative;
  margin: 0 -24px; // компенсируем padding контента

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--color-dark-100);
  }
}

.body {
  flex: 1;
  overflow-y: auto;
}
