.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  text-align: center;
  padding: 6px 20.5px 6px 20.5px;
  border: 1px solid transparent;
  border-radius: 2px;
  min-width: 182px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: inter, sans-serif;

  transition:
    border 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
}

.buttonPrimary {
  color: var(--color-bg-primary);
  background-color: var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-100);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:focus-visible {
    border: 1px solid var(--color-accent-700);
  }

  &:disabled {
    background-color: var(--color-accent-900);
    cursor: not-allowed;
  }

  &:visited {
    color: var(--color-bg-primary);
  }
}

.buttonSecondary {
  color: var(--color-bg-primary);
  background-color: var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-400);
  }

  &:focus-visible {
    background-color: var(--color-dark-300);
    border: 1px solid var(--color-primary-hover);
  }

  &:disabled {
    background-color: var(--color-dark-500);
    cursor: not-allowed;
  }

  &:visited {
    color: var(--color-bg-primary);
  }
}

.buttonOutline {
  color: var(--color-accent-500);
  background-color: transparent;
  border: 1px solid var(--color-accent-500);

  &:hover {
    color: var(--color-accent-100);
    border: 1px solid var(--color-accent-100);
  }

  &:active {
    color: var(--color-accent-700);
    border: 1px solid var(--color-accent-700);
  }

  &:focus-visible {
    color: var(--color-accent-700);
    border: 2px solid var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    border: 1px solid var(--color-accent-900);
    cursor: not-allowed;
  }

  &:visited {
    color: var(--color-accent-500);
  }
}

.buttonText {
  color: var(--color-accent-500);
  background-color: transparent;
  border: 1px solid transparent;

  &:hover {
    color: var(--color-accent-100);
    border: 1px solid transparent;
  }

  &:active {
    color: var(--color-accent-700);
    border: 1px solid transparent;
  }

  &:focus-visible {
    color: var(--color-accent-700);
    border: 2px solid var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    border: 1px solid transparent;
    cursor: not-allowed;
  }

  &:visited {
    color: var(--color-accent-500);
  }
}
