.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  width: 100%;
  max-width: 972px;
}

.gridItem {
  aspect-ratio: 228 / 234;
  background-color: #fafafa;
  cursor: pointer;
  border-radius: 1px;
  overflow: hidden;

  // position: relative;

  &:hover {
    opacity: 0.9;
  }
}

.skeleton {
  width: 234px;
  height: 228px;
  background-color: #e5e5e5;
  border-radius: 4px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.empty {
  text-align: center;
  padding: 2rem 0;
}
