.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.field {
  margin-bottom: 8px;
}

.checkboxContainer {
  margin: 16px 0;
}

.link {
  color: var(--color-accent-500);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.buttonContainer {
  margin-top: 8px;
}