html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-m);
  color: var(--light-100);
  background-color: var(--dark-900);
}

:root {
  /* Basic styles */
  --background: #000000;
}
:root :root {
  /* COLORS */
  /* Accent Colors */
  --accent-100: #73a5ff;
  --accent-300: #4c8dff;
  --accent-500: #397df6;
  --accent-700: #2f68cc;
  --accent-900: #234e99;
  /* Success Colors */
  --success-100: #80ffbf;
  --success-300: #22e584;
  --success-500: #14cc70;
  --success-700: #0f9954;
  --success-900: #0a6638;
  /* Danger Colors */
  --danger-100: #ff8099;
  --danger-300: #f23d61;
  --danger-500: #cc1439;
  --danger-700: #990f2b;
  --danger-900: #660a1d;
  /* Warning Colors */
  --warning-100: #ffd073;
  --warning-300: #e5ac39;
  --warning-500: #d99000;
  --warning-700: #996600;
  --warning-900: #664400;
  /* Dark Colors */
  --dark-100: #4c4c4c;
  --dark-300: #333333;
  --dark-500: #171717;
  --dark-700: #0d0d0d;
  --dark-900: #000000;
  /* Light Colors */
  --light-100: #ffffff;
  --light-300: #f7fbff;
  --light-500: #edf3fa;
  --light-700: #d5dae0;
  --light-900: #8d9094;
  /* Semantic Variables */
  --primary: #397df6;
  --primary-hover: #4c8dff;
  --primary-active: #2f68cc;
  --text-primary: #000000;
  --text-secondary: #171717;
  --text-inverted: #ffffff;
  --bg-primary: #ffffff;
  --bg-secondary: #f7fbff;
  --bg-dark: #171717;
  --success: #14cc70;
  --error: #cc1439;
  --warning: #d99000;
  /* Global Variables */
  /* ... */
}
:root :export {
  accent100: #73a5ff;
  accent300: #4c8dff;
  accent500: #397df6;
  accent700: #2f68cc;
  accent900: #234e99;
  success100: #80ffbf;
  success300: #22e584;
  success500: #14cc70;
  success700: #0f9954;
  success900: #0a6638;
  danger100: #ff8099;
  danger300: #f23d61;
  danger500: #cc1439;
  danger700: #990f2b;
  danger900: #660a1d;
  warning100: #ffd073;
  warning300: #e5ac39;
  warning500: #d99000;
  warning700: #996600;
  warning900: #664400;
  dark100: #4c4c4c;
  dark300: #333333;
  dark500: #171717;
  dark700: #0d0d0d;
  dark900: #000000;
  light100: #ffffff;
  light300: #f7fbff;
  light500: #edf3fa;
  light700: #d5dae0;
  light900: #8d9094;
  primary: #397df6;
  primaryHover: #4c8dff;
  primaryActive: #2f68cc;
  textPrimary: #000000;
  textSecondary: #171717;
  textInverted: #ffffff;
  bgPrimary: #ffffff;
  bgSecondary: #f7fbff;
  bgDark: #171717;
  success: #14cc70;
  error: #cc1439;
  warning: #d99000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*# sourceMappingURL=globals.css.map */
