@use '../src/shared/styles/colors' as colors;
@use '../src/shared/styles/variables' as vars;
@use '../src/shared/styles/boilerplate' as bp;

:root {
  /* Basic styles */
  --background: #{colors.$dark-900};

  :root {
    /* COLORS */

    /* Accent Colors */
    --accent-100: #{colors.$accent-100};
    --accent-300: #{colors.$accent-300};
    --accent-500: #{colors.$accent-500};
    --accent-700: #{colors.$accent-700};
    --accent-900: #{colors.$accent-900};

    /* Success Colors */
    --success-100: #{colors.$success-100};
    --success-300: #{colors.$success-300};
    --success-500: #{colors.$success-500};
    --success-700: #{colors.$success-700};
    --success-900: #{colors.$success-900};

    /* Danger Colors */
    --danger-100: #{colors.$danger-100};
    --danger-300: #{colors.$danger-300};
    --danger-500: #{colors.$danger-500};
    --danger-700: #{colors.$danger-700};
    --danger-900: #{colors.$danger-900};

    /* Warning Colors */
    --warning-100: #{colors.$warning-100};
    --warning-300: #{colors.$warning-300};
    --warning-500: #{colors.$warning-500};
    --warning-700: #{colors.$warning-700};
    --warning-900: #{colors.$warning-900};

    /* Dark Colors */
    --dark-100: #{colors.$dark-100};
    --dark-300: #{colors.$dark-300};
    --dark-500: #{colors.$dark-500};
    --dark-700: #{colors.$dark-700};
    --dark-900: #{colors.$dark-900};

    /* Light Colors */
    --light-100: #{colors.$light-100};
    --light-300: #{colors.$light-300};
    --light-500: #{colors.$light-500};
    --light-700: #{colors.$light-700};
    --light-900: #{colors.$light-900};

    /* Semantic Variables */
    --primary: #{vars.$primary};
    --primary-hover: #{vars.$primary-hover};
    --primary-active: #{vars.$primary-active};
    --text-primary: #{vars.$text-primary};
    --text-secondary: #{vars.$text-secondary};
    --text-inverted: #{vars.$text-inverted};
    --bg-primary: #{vars.$bg-primary};
    --bg-secondary: #{vars.$bg-secondary};
    --bg-dark: #{vars.$bg-dark};
    --success: #{vars.$success};
    --error: #{vars.$error};
    --warning: #{vars.$warning};

    /* Global Variables */

    /* ... */
  }

  :export {
    // Accent colors
    accent100: #{colors.$accent-100};
    accent300: #{colors.$accent-300};
    accent500: #{colors.$accent-500};
    accent700: #{colors.$accent-700};
    accent900: #{colors.$accent-900};

    // Success colors
    success100: #{colors.$success-100};
    success300: #{colors.$success-300};
    success500: #{colors.$success-500};
    success700: #{colors.$success-700};
    success900: #{colors.$success-900};

    // Danger colors
    danger100: #{colors.$danger-100};
    danger300: #{colors.$danger-300};
    danger500: #{colors.$danger-500};
    danger700: #{colors.$danger-700};
    danger900: #{colors.$danger-900};

    // Warning colors
    warning100: #{colors.$warning-100};
    warning300: #{colors.$warning-300};
    warning500: #{colors.$warning-500};
    warning700: #{colors.$warning-700};
    warning900: #{colors.$warning-900};

    // Dark colors
    dark100: #{colors.$dark-100};
    dark300: #{colors.$dark-300};
    dark500: #{colors.$dark-500};
    dark700: #{colors.$dark-700};
    dark900: #{colors.$dark-900};

    // Light colors
    light100: #{colors.$light-100};
    light300: #{colors.$light-300};
    light500: #{colors.$light-500};
    light700: #{colors.$light-700};
    light900: #{colors.$light-900};

    // Semantic colors
    primary: #{vars.$primary};
    primaryHover: #{vars.$primary-hover};
    primaryActive: #{vars.$primary-active};
    textPrimary: #{vars.$text-primary};
    textSecondary: #{vars.$text-secondary};
    textInverted: #{vars.$text-inverted};
    bgPrimary: #{vars.$bg-primary};
    bgSecondary: #{vars.$bg-secondary};
    bgDark: #{vars.$bg-dark};
    success: #{vars.$success};
    error: #{vars.$error};
    warning: #{vars.$warning};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
