.container {
  padding: 0;
}

.headerCropping {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.croppingArrowBack {
  border: none !important;
  color: var(--color-light-100);
}

.croppingNext {
  border: none !important;
}

.containerImage {
  height: 504px;
  overflow: hidden;
  position: relative;
}

.image {
  object-fit: cover;
}

.confirmModalButtons {
  justify-content: space-between;
}
