.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 220px;
  width: 220px;
  height: 660px;
  box-sizing: border-box;
  padding-top: 72px;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  margin-bottom: 24px;

  &:nth-child(5) {
    margin-bottom: 60px;
  }

  &:nth-child(7) {
    margin-bottom: 180px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.nav-link {
  display: inline-flex;
  gap: 12px;
  text-decoration: none;
  color: var(--color-light-100);
  position: relative;

  &[data-active] {
    color: var(--color-accent-500);
  }

  &:not([data-active], [data-disabled]):hover {
    color: var(--color-accent-100);
  }

  &:focus-visible::after {
    content: '';
    position: absolute;
    inset: -2px -8px -2px -3px;
    outline: 2px solid var(--color-accent-700);
    border-radius: 2px;
  }

  &[aria-disabled='true'] {
    color: var(--color-dark-100);
    pointer-events: none;
  }
}
