.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 220px;
  width: 220px;
  height: 660px;
  box-sizing: border-box;
  padding-top: 72px;
  border-right: 1px solid var(--color-dark-300);

  // margin-top: 60px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 60px;
}

.nav-item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

/* ---------- ВАЖНО: невидимый отступ ---------- */
.spacer {
  height: 180px; /* ровно то расстояние, что было до этого */
}

/* ToggleGroup.Item */
.nav-link {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-light-100);
  position: relative;
  font: inherit;

  &[data-state='on'] {
    color: var(--color-accent-500);
  }

  &:not([data-state='on'], [aria-disabled='true']):hover {
    color: var(--color-accent-100);
  }

  &:focus-visible::after {
    content: '';
    position: absolute;
    inset: -2px -8px -2px -3px;
    outline: 2px solid var(--color-accent-700);
    border-radius: 2px;
  }

  &[aria-disabled='true'] {
    color: var(--color-dark-100);
    pointer-events: none;
  }
}
