@import '../../styles/colors';
@import '../../styles/typography';

.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-light-100);
  border-radius: 2px;
  padding: 6px 12px;
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: var(--color-accent-500);
  }

  &[data-disabled] {
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
    }
  }
}

.trigger [data-radix-select-icon] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 8px;
  z-index: 2;
  position: relative;
}

.content {
  overflow-y: auto;
  border: 1px solid var(--color-light-100);
  border-radius: 2px;
  min-width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
}

.selectedValue {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 8px;
  min-width: 0;
  z-index: 0;
  position: relative;
}

  .selectedText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.placeholder {
  color: var(--color-text-placeholder);
}

.item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  outline: none;

  // Состояние hover
  &[data-highlighted] {
    background-color: var(--color-dark-300);
    color: var(--color-accent-500);
  }

  // Состояние focus
  &:focus {
    background-color: var(--color-dark-300);
    color: var(--color-accent-500);
  }

  // Выбранный элемент (когда dropdown открыт)
  &[data-state="checked"] {
    background-color: var(--color-dark-300);
    font-weight: 500;
  }

  // Отключенный элемент
  &[data-disabled] {
    cursor: not-allowed;
  }
}

.itemWithIcon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.itemText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background: var(--color-light-100);
  color: var(--color-dark-300);
  cursor: default;

  &:hover {
    background-color: var(--color-dark-300);
  }
}

.icon {
  display: block;
  flex-shrink: 0;
}

