$font-family-primary: 'Inter', sans-serif;

$typography: (
        large: (size: 26px, line: 36px, weight: 600),
        h1: (size: 20px, line: 36px, weight: 700),
        h2: (size: 18px, line: 24px, weight: 700),
        h3: (size: 16px, line: 24px, weight: 600),
        regular-text-16: (size: 16px, line: 24px, weight: 400),
        bold-text-16: (size: 16px, line: 24px, weight: 700),
        regular-text-14: (size: 14px, line: 24px, weight: 400),
        medium-text-14: (size: 14px, line: 24px, weight: 500),
        bold-text-14: (size: 14px, line: 24px, weight: 700),
        small-text: (size: 12px, line: 16px, weight: 400),
        semi-bold-small-text: (size: 12px, line: 16px, weight: 600),
        regular-link: (size: 14px, line: 24px, weight: 400),
        small-link: (size: 12px, line: 16px, weight: 400)
);

@each $name, $props in $typography {
  .#{$name} {
    font-family: $font-family-primary;
    font-size: map-get($props, size);
    line-height: map-get($props, line);
    font-weight: map-get($props, weight);

    @if str-index($name, 'link') {
      text-decoration: underline;
      color: inherit;
    }
  }
}