.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  background: #171717;
  border-radius: 2px;
  padding: 12px 24px;
  width: 972px;
  height: 72px;
}
