.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  background: var(--color-dark-700);
  margin: 30px;
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: var(--line-height-m);
  color: var(--color-light-900);
  margin-bottom: 2px;
}

.labelDisabled {
  font-family: var(--font-family-primary);
  color: var(--color-dark-100);
  opacity: 0.6;
}

.input {
  width: 279px;
  height: 36px;
  padding: 6px 12px;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  outline: none;
  
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-light-100);
  
  box-sizing: border-box;
  background: var(--color-dark-700);
  
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-light-900);
    opacity: 1;
  }

   &:not(:placeholder-shown):not([type="search"]) {
    border-color: var(--color-light-100);
    background: var(--color-dark-500);
    color: var(--color-light-100);
  }
  
  &.error:not(:placeholder-shown) {
    border-color: var(--color-danger-500);
    background: var(--color-dark-700);
  }

  &:hover:not(:disabled):not(.error){
    border-color: var(--color-light-900);
  }

  &:focus:not(:disabled):not(.error) {
    border: 2px solid var(--color-primary);
  }

  &.error {
    border-color: var(--color-danger-500);
  }

  &:disabled {
    border-color: var(--color-dark-100);
    color: var(--color-dark-100);
    opacity: 0.6;
    cursor: not-allowed;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--color-dark-100);
      opacity: 0.6;
    }
  }
}

.errorMessage {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--color-danger-500);
  margin-top: 2px;
}