.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.label {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: var(--line-height-m);
  color: var(--color-light-900);
  margin-bottom: 2px;
}

.labelDisabled {
  color: var(--color-dark-100);
  opacity: 0.6;
}

.input {
  width: 279px;
  height: 36px;
  padding: 6px 12px;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-light-100);

  box-sizing: border-box;
  background: var(--color-dark-700);

  &::placeholder {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-light-900);
    opacity: 1;
  }

  &:hover:not(:disabled):not(.error) {
    border-color: var(--color-dark-300);
  }

  &:focus:not(:disabled):not(.error) {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px var(--color-primary-hover);
  }

  &.error {
    border-color: var(--color-danger-500);
  }

  &:disabled {
    background: var(--color-dark-700);
    border-color: var(--color-light-700);
    color: var(--color-light-900);
    opacity: 0.6;
    cursor: not-allowed;

    &::placeholder {
      font-family: var(--font-family-primary);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--color-dark-100);
      opacity: 0.6;
    }
  }
}

.errorMessage {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%; // 24px для 14px шрифта
  color: var(--color-danger-500); // #cc1439
  margin-top: 2px;
}