.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
}

.label {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-primary);
  font-size: 14px;
  line-height: var(--line-height-m);
  color: var(--color-light-900);
  margin-bottom: 2px;
}

.labelDisabled {
  color: var(--color-dark-100);
  opacity: 0.6;
}

.textarea {
  width: 100%;
  min-height: 84px;
  padding: 6px 12px;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  box-shadow: 0 0 0 0 transparent;

  transition: border-color 0.2s ease, box-shadow 0.2s ease;

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  box-sizing: border-box;
  background: var(--color-dark-500);

  &::placeholder {
    color: var(--color-light-900);
    opacity: 1;
  }

  &:hover:not(:disabled):not(.error){
    border-color: var(--color-light-900);
  }

  &:focus:not(:disabled):not(.error) {
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 0 1px var(--color-primary);
  }

  &:not(:placeholder-shown) {
    border-color: var(--color-light-100);
    background: var(--color-dark-500);
    color: var(--color-light-100);
  }

  &.error {
    border-color: var(--color-danger-500);
  }

  &:disabled {
    border-color: var(--color-dark-100);
    color: var(--color-dark-100);
    opacity: 0.6;
    cursor: not-allowed;

    &::placeholder {
      color: var(--color-dark-100);
      opacity: 0.6;
    }
  }
}

.resizeNone {
  resize: none;
}

.resizeBoth {
  resize: both;
  max-width: 100%;
  max-height: 400px;
}

.resizeHorizontal {
  resize: horizontal;
  max-width: 100%;
}

.resizeVertical {
  resize: vertical;
  max-height: 400px;
}

.errorMessage {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: var(--line-height-m);
  color: var(--color-danger-500);
  margin-top: 2px;
}