.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 23px 24px 30px;
  margin-top: 4px;
}

.buttonsGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  gap: 60px;
}

.button {
  border: none !important;
}

.form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.inputContainer {
  min-width: 330px;
}

.inputPassword {
  &::placeholder {
    transform: translateY(3px);
  }
}

.buttonForgot {
  color: var(--color-light-900) !important;
  align-self: end !important;
  margin-top: 12px;
  font-size: 14px !important;
  font-weight: 400 !important;

  &:visited {
    color: var(--color-light-900);
  }
}

.accountQuestion {
  margin-top: 18px;
}

.linkSignUp {
  margin-top: 12px;
  text-decoration: none;
  color: var(--color-accent-500);
}
