.form {
  padding: 24px;
  text-align: center;
  width: 378px;
}

.form_buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: 17px;
  text-align: left;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.form_description {
  color: var(--color-light-900);
}

.form_error {
  color: var(--color-error);
}

.form_link {
  text-decoration: none;
}
