.form {
  width: 378px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form__buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.form__content {
  display: flex;
  flex-direction: column;
  gap: 17px;
  text-align: left;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.form__description {
  color: var(--color-light-900);
}

.form__error {
  color: var(--color-error);
}

.form__link {
  text-decoration: none;
  font-weight: 600;
}
