.form {
  width: 378px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    margin-bottom: 37px;
  }
}

.formButtons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 17px;
  text-align: left;
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.formDescription {
  color: var(--color-light-900);
}

.formError {
  color: var(--color-error);
}

.formLink {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-primary);

  &:visited {
    color: var(--color-primary)
  }
}
