.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 20px;
}

.description {
  max-width: 294px;
  text-align: center;
}

.image {
  object-fit: contain;
}





