.container {
  padding: 24px 24px 36px;
  max-width: 378px;
}

.title {
  margin-bottom: 30px;
  text-align: center;
}

.newPassText {
  display: block;
  max-width: 330px;
  margin-bottom: 41px;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: var(--line-height-m);
  color: var(--color-light-900);
}
