.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 23px 50px 0;
}

.article {
  max-width: 958px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: var(--color-light-100);

  h1 {
    font-size: 20px;
    margin: 23px 0;
  }

  p {
    line-height: 1,7;  
  }
}

.backLink {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    color: var(--color-primary-hover);
  }
}
