.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 3px;
}

.checkboxWrapper {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.disabled {
    pointer-events: none;
  }

  &:hover:not(.disabled) .checkboxBg {
    background-color: rgb(255 255 255 / 10%);
  }

  &:focus-within:not(.disabled) .checkboxBg {
    background-color: rgb(255 255 255 / 20%);
  }
}

.checkboxBg {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%; // круг сзади
  background-color: transparent;
  transition: background-color 0.2s ease;
  z-index: 0;
}

.checkboxRoot {
  position: relative;
  z-index: 1;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.checkboxIndicator {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  cursor: pointer;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-regular-text-14, 14px);
  line-height: var(--line-height-m, 24px);
  font-weight: var(--font-weight-regular, 400);
  color: var(--color-light-100);
  transition: color 0.2s ease;
}

.disabledLabel {
  cursor: default;
  color: var(--color-light-900);
}
